data/
crimes.csv
.vscode
*.so
*.o
*.lo
*.la
configure~
depcomp
install-sh
libtool
ltmain.sh
missing
.deps/
.libs/
postgres/Makefile
postgres/Makefile.bkup
postgres/Makefile.in
playground/
postgres/*.ids
postgres/*.injected.sql
postgres/*.auto.sql
postgres/trials/*/*.injected.sql
postgres/trials/*/*.ids
postgres/trials/*/*.fidelity.sql
postgres/benchmark/tpch/scale_1_base_check/check_answers/*.log
postgres/benchmark/tpch/temp.out
postgres/benchmark/tpch/baseline_result_store.json
postgres/benchmark/tpch/traceprov_result_store.json
postgres/benchmark/tpch/*.ids
postgres/benchmark/micro/layer_grow/*.o
postgres/benchmark/micro/layer_grow/*.tp
postgres/benchmark/micro/layer_grow/*.out
postgres/benchmark/micro/aggregate/*
postgres/benchmark/micro/aggregate/.ipynb_checkpoints/*
postgres/benchmark/.config.json
postgres/benchmark/micro/aggregates/tmp/
postgres/benchmark/micro/aggregates/results/local_test_*
__pycache__/
traceprovpy.egg-info/
*.tmp
*.tmp.py
local_test_*/
temp.out.sql
*.sql.backup
tmp.sql
postgres/benchmark/micro/set_operations
postgres/complex.*
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
postgres/bld/*
*/*.o.dSYM/
smokedduck_scratch/
postgres/run_smokedduck
postgres/benchmark/tpch/distributed.json
postgres/benchmark/tpch/distributed_time.json
postgres/benchmark/tpch/distributed_file_size.json
postgres/benchmark/micro/selectivity/distributed.json
postgres/benchmark/micro/selectivity/distributed_time.json
postgres/benchmark/micro/selectivity/distributed_file_size.json
tmp/
*.db