crimes.csv
.vscode
postgres/*.so
postgres/*.o
playground/
postgres/*.ids
postgres/*.injected.sql
postgres/*.auto.sql
postgres/trials/*/*.injected.sql
postgres/trials/*/*.ids
postgres/trials/*/*.fidelity.sql